<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>posts</title>
  </head>
  <body>
    <h1>Quora</h1>
    <h2>Here is your post in detail</h2>
    <div class="post">
      <p><%= post.id %></p>
      <p>@<%= post.username %></p>
      <p><%= post.content %></p>
    </div>
  </body>
</html>
