<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>new</title>
</head>
<body>
    <h1>Quora</h1>
    <form method="POST" action="/posts">
        <input type="text" placeholder="username" name="username">
        <div>
            <textarea name="content" id=""></textarea>
        </div>
        <button>post</button>
    </form>
</body>
</html>